<div fxLayoutAlign="center center" style="margin-top:30px;">
    <mat-card fxFlex="70%" fxFlex.xs="98%">
        <div class="header">Edit Customer Details</div>
        <div class="formex main-div">
            <form>
                <table style="width:100%">
                    <tr>
                        <td>Customer Name</td>
                        <td colspan="4">
                            <input type="text" readonly name="customerName" placeholder="Customer Name" [(ngModel)]="getData.customerName" value="{{getData.customerName}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td>
                            <input style="width:30%" type="text" maxlength="5" pattern="\d+$" name="countryCode" placeholder="Country Code" [(ngModel)]="getData.countryCode"
                                #countryCode="ngModel">
                            <input style="width:48.5%" type="text" maxlength="10" pattern="\d+$" name="phoneNumber" placeholder="Contact Number" [(ngModel)]="getData.phoneNumber"
                                #phoneNumber="ngModel" value="{{getData.customerPhone}}">
                            <div *ngIf="countryCode.invalid && (countryCode.dirty || countryCode.touched)" class="alert alert-danger" style="color:red">
                                <div *ngIf="countryCode.errors.required">
                                    Country Code is required.
                                </div>
                                <div *ngIf="countryCode.errors.pattern">
                                    Country Code should be number.
                                </div>
                            </div>
                            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger" style="color:red">
                                <div *ngIf="phoneNumber.errors.required">
                                    Contact number is required.
                                </div>
                                <div *ngIf="phoneNumber.errors.pattern">
                                    Contact number should be number.
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td colspan="4">
                            <textarea type="text" rows="5" cols="30" name="customerAddress" placeholder="Address" [(ngModel)]="getData.customerAddress"
                                value="{{getData.customerAddress}}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Type</td>
                        <td colspan="4">
                            <input type="text" name="customerType" placeholder="Customer Type" [(ngModel)]="getData.customerType" value="{{getData.customerType}}">
                        </td>
                    </tr>

                    <tr>
                        <td>Contact Name</td>
                        <td colspan="4">
                            <textarea type="text" rows="5" cols="30" name="customerContactName" placeholder="Contact Name" [(ngModel)]="getData.customerContactName"
                                value="{{getData.customerContactName}}"></textarea>
                        </td>
                    </tr>
                </table>
                <div style="text-align:right">
                    <button mat-raised-button type="submit" (click)="update()" color="primary" style="border-radius:4px">Update</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>