<div fxLayoutAlign="center center" style="margin:30px 0px;">
    <mat-card fxFlex="90%" fxFlex.xs="95%">
        <div class="header">Generate Coupon</div>
        <div class="formex main-div">
            <form #couponForm="ngForm">
                <table style="width:100%">
                    <tr>
                        <td>Dispatch Trip Number </td>
                        <td colspan="6">
                            <select placeholder="Dispatch Trip Number" required name="dispatchTripNumber" [(ngModel)]="model.dispatchTripNumber" required
                                value="{{model.dispatchTripNumber}}" (change)="getDispatchDatabyId(model.dispatchTripNumber)">
                                <option [value]="0" selected="selected">Select Dispatch Trip Number </option>
                                <option *ngFor="let dispatch of dispatchData" value="{{dispatch.dispatchTripNumber}}">{{dispatch.dispatchTripNumber}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Filling Station </td>
                        <td colspan="6">
                            <select name="couponFillingStation" required value={{model.couponFillingStation}} [(ngModel)]="couponFillingStation" placeholder="Select Filling Station">
                                <option [value]='undefined' selected="selected">Select Filling Station </option>
                                <option *ngFor="let station of stations" [value]="station">{{station}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Location</td>
                        <td colspan="6">
                            <input type="text" id="source" name="couponStartLocation" placeholder="Start Location" [(ngModel)]="model.couponStartLocation"
                                required value="{{model.couponStartLocation}}">
                        </td>
                    </tr>
                    <span *ngIf="this.showError" style="color:red;font-size:12px">{{errorMessage1}}</span>
                    <tr>
                        <td>End Location</td>
                        <td colspan="5">
                            <input type="text" id="destination" name="couponEndLocation " placeholder="End Location" [(ngModel)]="model.couponEndLocation"
                                required value="{{model.couponEndLocation}}">
                            <button mat-raised-button type="submit" color="accent" class="route-btn" value="Get Route" onclick="get_rout()">Get Route</button>
                        </td>
                    </tr>
                    <span *ngIf="this.showError" style="color:red;font-size:12px">{{errorMessage2}}</span>
                    <tr>
                        <td>Issued by</td>
                        <td colspan="3">
                            <input type="text" name="couponIssuedBy" readonly disabled placeholder="Issed By" [(ngModel)]="model.couponIssuedBy" value="{{model.couponIssuedBy}}">
                        </td>

                        <td>Requested by(Driver)</td>
                        <td colspan="3">
                            <input type="text" name="couponRequestedBy" readonly disabled placeholder="Requested By" [(ngModel)]="model.couponRequestedBy"
                                value="{{model.couponRequestedBy}}">

                    </tr>
                    <tr>
                        <td>Selected Truck</td>
                        <td colspan="3">
                            <input type="text" readonly disabled name="couponHorseNumber" placeholder="Selected Truck" [(ngModel)]="model.couponHorseNumber"
                                readonly value="{{model.couponHorseNumber}}">
                        </td>
                        <td>Approved by</td>
                        <td colspan="6">
                            <input type="text" name="couponApprovedBy" placeholder="Approved By" [(ngModel)]="model.couponApprovedBy">

                    </tr>
                    <tr>
                        <td>Opening Meter</td>
                        <td colspan="3">
                            <input type="text" pattern="^\d+$" name="couponOpeningMeter" placeholder="Opening Meter" [(ngModel)]="couponOpeningMeter"
                                required #couponOpenMeter="ngModel">

                        </td>

                        <td>Closing Meter</td>
                        <td colspan="3">
                            <input type="text" pattern="^\d+$" name="couponClosingMeter" placeholder="Closing Meter" [(ngModel)]="couponClosingMeter"
                                #couponCloseMeter="ngModel" required>

                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <div *ngIf="couponOpeningMeter.invalid && (couponOpeningMeter.dirty || couponOpeningMeter.touched)" class="alert alert-danger"
                                style="color:red;">

                                <div *ngIf="couponOpeningMeter.errors.required">
                                    Opening Meter is required.
                                </div>
                                <div *ngIf="couponOpeningMeter.errors.pattern">
                                    Opening Meter should be number.
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td colspan="3">
                            <div *ngIf="couponClosingMeter.invalid && (couponClosingMeter.dirty || couponClosingMeter.touched)" class="alert alert-danger"
                                style="color:red">

                                <div *ngIf="couponClosingMeter.errors.required">
                                    Closing Meter is required.
                                </div>
                                <div *ngIf="couponClosingMeter.errors.pattern">
                                    Closing Meter should be number.
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Distance in Kms</td>
                        <td colspan="3">
                            <input type="text" name="distance" required value="" class="distance">
                        </td>
                        <td>Mileage(Kms)</td>
                        <td colspan="3">
                            <select name="couponMileage" required [(ngModel)]="model.couponMileage" (change)="onChange($event)" placeholder="Mileage(Kms)">
                                <option [value]="0" selected="selected">--Select-- </option>
                                <option *ngFor="let kms of distanceValues" [value]="kms">{{kms}}</option>
                            </select>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td></td>
                        <td colspan="3">
                            <div *ngIf="distance.invalid && (distance.dirty || distance.touched)" class="alert alert-danger" style="color:red;">

                                <div *ngIf="distance.errors.required">
                                    Distance is required.
                                </div>
                                <div *ngIf="distance.errors.pattern">
                                    Distance should be number.
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td colspan="3">
                            <div *ngIf="(couponMileage.dirty || couponMileage.touched) && couponMileage.invalid" class="alert alert-danger" style="color:red">

                                <div *ngIf="couponMileage.errors.required">
                                    Mileage is required.
                                </div>
                            </div>
                        </td>
                    </tr> -->
                    <tr>
                        <td>Coupon Value</td>

                        <td colspan="3">
                            <input type="text" name="couponValue" placeholder="Coupon Value" [(ngModel)]="couponValue" value="{{couponValue}}">
                        </td>
                        <td>Coupon Date</td>

                        <td colspan="3">
                            <input type="date" [min]="today" name="couponDate" placeholder="Coupon Date" [(ngModel)]="model.couponDate" value="{{model.couponDate}}"
                                required>
                        </td>
                    </tr>


                    <tr>


                        <td>Status</td>
                        <td colspan="3">
                            <select name="couponStatus" [(ngModel)]="couponStatus" required placeholder="Select Status">
                                <option [value]="undefined" selected="selected">Select Status </option>
                                <option *ngFor="let couponStatus of status" [value]="couponStatus">{{couponStatus}}</option>
                            </select>
                        </td>

                    </tr>


                </table>
                <div style="text-align:right">
                    <button mat-raised-button type="submit" [disabled]="!couponForm.form.valid" (click)="submit()" color="primary" style="border-radius:4px">Generate</button>
                </div>
            </form>


        </div>

        <!--form class="form-inline" action="">
                <div class="form-group">
                    <label for="email">Source:</label>
                    <input type="text" class="form-control" id="source" value="New Delhi, Delhi, India">
                </div>
                <div class="form-group">
                    <label for="pwd">Destination:</label>
                    <input type="text" class="form-control" id="destination" value="Delhi Cantt, New Delhi, Delhi, India">
                </div>

                <button type="button" value="Get Route" onclick="get_rout()">Get Rout & Distance</button>

                <div class="form-group">
                    <label for="pwd">Distance in km :</label>
                    <input type="text" class="form-control distance" readonly>
                </div>
            </form-->

        <div class="row">
            <br />
            <br />
            <!--div class='col-md-6' id='maplocation' style="height: 450px;"></div>
                <div class='col-md-6' id='panallocation' style="width: 500px; height: 500px"></div-->
            <div style="height: 450px;" id='maplocation'></div>
            <div id='panallocation'></div>

        </div>

    </mat-card>

</div>