<div fxLayoutAlign="center center" style="margin:30px 0px">
    <mat-card fxFlex="80%" fxFlex.xs="98%">

        <div class="header">Add Driver Details</div>
        <div class="formex main-div">

            <form #driverForm="ngForm">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Driver Id</td>
                        <td colspan="6"> <input type="text" pattern="[a-zA-Z0-9]+" name="driverId" placeholder="Driver Details Id" [(ngModel)]="model.driverId"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> Firstname</td>
                        <td colspan="2"> <input type="text" name="driverFirstName" placeholder="First Name" [(ngModel)]="model.driverFirstName"></td>

                        <td colspan="2">Last Name</td>
                        <td colspan="2"> <input type="text" name="driverLastName" placeholder="Last Name" [(ngModel)]="model.driverLastName">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">NRC No</td>
                        <td colspan="2"> <input type="text" pattern="[a-zA-Z0-9]+" name="driverNrcNumber" placeholder="NRC No" [(ngModel)]="model.driverNrcNumber" style="margin-right:5px">
                        </td>

                        <td colspan="2">Passport</td>
                        <td colspan="2"> <input type="text" pattern="[a-zA-Z0-9]+" name="driverPassport" placeholder="Passport" [(ngModel)]="model.driverPassport">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Contact Number</td>
                        <td colspan="2"> <input type="text" name="driverContactNumber" placeholder="Contact Number" [(ngModel)]="model.driverContactNumber" #driverContactNumber="ngModel" class="form-control" pattern="^\d+$" required>
                            <div *ngIf="driverContactNumber.invalid && (driverContactNumber.dirty || driverContactNumber.touched)" class="alert alert-danger" style="color:red">

                                <div *ngIf="driverContactNumber.errors.required">
                                    Contact number is required.
                                </div>
                                <div *ngIf="driverContactNumber.errors.pattern">
                                    Contact number should be number.
                                </div>


                            </div>
                        </td>
                        <td colspan="2">Alter Native Phone Number</td>
                        <td colspan="2"> <input maxlength="11" type="text" name="driverAlternateContact" placeholder="Alter Native Phone Number" [(ngModel)]="model.driverAlternateContact" #driverAlternateContact="ngModel" class="form-control" pattern="^\d+$">
                            <div *ngIf="driverAlternateContact.invalid && (driverAlternateContact.dirty || driverAlternateContact.touched)" class="alert alert-danger" style="color:red">

                                <div *ngIf="driverAlternateContact.errors.pattern">
                                    Contact number should be number.
                                </div>


                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">License Number</td>
                        <td colspan="2"> <input type="text" name="driverLicenseNumber" placeholder="License Number" [(ngModel)]="model.driverLicenseNumber">
                        </td>

                        <td colspan="2">License Expiry</td>
                        <td colspan="2"> <input type="date" name="driverLicenseExpiry" placeholder="License Expiry" [(ngModel)]="model.driverLicenseExpiry">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Address</td>
                        <td colspan="6"> <textarea type="text" rows="5" cols="30" name="driverAddress" placeholder="Address" [(ngModel)]="model.driverAddress"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Date of Joining</td>
                        <td colspan="6"> <input type="date" name="driverDateOfJoining" placeholder="Date of Joining" [(ngModel)]="model.driverDateOfJoining">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Accident History</td>
                        <td colspan="6"> <input type="text" name="driverAccidentHistory" placeholder="Accident History" [(ngModel)]="model.driverAccidentHistory">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Driver work suite</td>
                        <td colspan="6"> <input type="date" name="driverWorksuiteDate" placeholder="Driver work suite" [(ngModel)]="model.driverWorksuiteDate">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Date of Birth</td>
                        <td colspan="6"> <input type="date" name="driverDateOfBirth" placeholder="Date of Birth" [(ngModel)]="model.driverDateOfBirth">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">Attachments</td>
                        <td colspan="6">
                            <div fxLayout="row">
                                <div class="fileUpload btn btn-primary">
                                    <span>Select File</span>
                                    <!--input type="file" name="document" class="upload" (change)=" changeListener(event)" accept="image/*,.pdf,.doc,.docx," /-->
                                    <input type="file" name="driverAttachments" class="upload" placeholder="Upload file..." accept="image/*" (change)="changeListener1($event)" />
                                </div>
                                <span style="font-size:14px;padding-top:20px" *ngIf="this.filename1==''"> Choose file to upload</span>
                                <span style="font-size:14px;padding-top:20px" *ngIf="this.filename1!=''">{{this.filename1}}</span>
                                <!--img *ngIf="src" class="avatar img-circle" src="{{ this.src1}}" alt="" width="100px" height="100px" /-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Driver Photo</td>
                        <td colspan="6">

                            <div fxLayout="row">
                                <div class="fileUpload btn btn-primary">
                                    <span>Select File</span>
                                    <!--input type="file" name="document" class="upload" (change)=" changeListener(event)" accept="image/*,.pdf,.doc,.docx," /-->
                                    <input type="file" name="driverPhoto" class="upload" placeholder="Upload file..." accept="image/*" (change)="changeListener2($event)" />
                                </div>
                                <span style="font-size:14px;padding-top:20px" *ngIf="this.filename2==''"> Choose file to upload</span>
                                <span style="font-size:14px;padding-top:20px" *ngIf="this.filename2!=''">{{this.filename2}}</span>

                                <!--img *ngIf="src" class="avatar img-circle" src="{{ this.src2}}" alt="" width="100px" height="100px" /-->
                            </div>

                        </td>

                    </tr>
                </table>
                <div style="text-align:right">
                    <button mat-raised-button type="submit" [disabled]="!driverForm.form.valid" (click)="submit()" color="primary" style="border-radius:4px">Submit</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>